<h2 class="text-start ms-4 mt-4">
    Top Rating
</h2>
<p class="text-center {{isTREmpty}}">There are not any movies to show</p>
<div id="topRatingSlide" class="carousel slide" data-bs-ride="carousel">
    <div class="container position-relative">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#topRatingSlide" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#topRatingSlide" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#topRatingSlide" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#topRatingSlide" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#topRatingSlide" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#topRatingSlide" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#topRatingSlide" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#topRatingSlide" data-bs-slide-to="7" aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#topRatingSlide" data-bs-slide-to="8" aria-label="Slide 9"></button>
            <button type="button" data-bs-target="#topRatingSlide" data-bs-slide-to="9" aria-label="Slide 10"></button>
        </div>
    </div>
    <div class="carousel-inner" role="listbox">
        {{#each firstThreeMovies}}
        <div class="carousel-item active mt-4 ms-2 me-2">
            <div class="row">
                {{#each .}}
                <div class="col-4">
                    <figure>
                        <a href="/movie/{{id}}">
                            <img src="{{img}}" class="d-block w-100 rounded mb-4" alt="{{title}}" >
                        </a>
                        <figcaption>
                            <h5>{{title}}</h5>
                            <h5>Rating: {{rating}}</h5>
                        </figcaption>
                    </figure>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
        {{#each trippleMovies}}
        <div class="carousel-item mt-4 ms-2 me-2">
            <div class="row">
                {{#each .}}
                <div class="col-4">
                    <figure>
                        <a href="/movie/{{id}}">
                            <img src="{{img}}" class="d-block w-100 rounded mb-4" alt="{{title}}" >
                        </a>
                        <figcaption>
                            <h5>Title: {{title}}</h5>
                            <h5>Rating: {{rating}}</h5>
                        </figcaption>
                    </figure>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#topRatingSlide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#topRatingSlide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div>