<div class="card mb-3 mt-3 ms-auto me-auto bg-dark" style="max-width: 480px;">
    <figure class="ms-auto me-auto">
        <img src="{{m.img}}" alt="{{m.title}}" class="img-fluid rounded ms-auto me-auto" style="max-width: 480px;">
        <figcaption>
            <h5 class="card-title mt-4 mb-4"> {{m.title}}</h5>
        </figcaption>
    </figure>
</div>
<div class="d-flex justify-content-center">
    <button type="button" class="rounded btn btn-danger {{isFav}}" data-bs-toggle="modal" data-bs-target="#modalAddMovie">Add to Favorite</button>
</div>
<div class="card mb-3 mt-3 ms-auto me-auto bg-dark" style="max-width: 1080px;">
    <div class="card-body mt-auto mb-auto">
        <div class="row">
            <div class="col-4">
                <p><b>ID: </b> {{m.id}}</p>
            </div>
            <div class="col-4">
                <p><b>Year: </b> {{m.year}}</p>
            </div>
            <div class="col-4">
                <p><b>Top rank: </b> {{m.topRank}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p><b>Rating: </b> {{m.rating}}</p>
            </div>
            <div class="col-4">
                <p><b>Rating count: </b> {{m.ratingCount}}</p>
            </div>
            <div class="col-4">
                <p><b>Genres: </b>
                    {{#each m.genres}}
                    {{genres}}
                    {{#unless @last}}, {{/unless}}
                    {{/each}}
                </p>
            </div>
        </div>
        <p><b>Casts: </b>
            {{#each m.casts}}
            {{#each characters}}
            <span class="text-secondary">{{this}}</span>
            {{#unless @last}}, {{/unless}}
            {{/each}}
            : <a href="/cast/{{id}}" class="text-warning">{{name}}</a>;
            {{/each}}
        </p>
        <p><b>Synopses: </b><span class="text-secondary"> {{m.synopses}}</span></p>
    </div>
</div>

<div class="modal" tabindex="-1" id="modalAddMovie">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Movie To Favorite List"</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/movie/{{m.id}}/addToFavorite" method="POST" id="addMovieForm">
                    <div class="mb-3">
                        <label class="col-form-label">Choose Favorite list:</label>
                        <select class="form-select form-select" name="ListName">
                            {{#each list}}
                            <option value="{{Listname}}">{{Listname}}</option>
                            {{/each}}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
                <button type="submit" form="addMovieForm" class="btn btn-primary" >Save
                    changes</button>
            </div>
        </div>
    </div>
</div>