<div class="card mb-3 mt-3 ms-auto me-auto bg-dark" style="max-width: 480px;">
    <figure class="ms-auto me-auto">
        <img src="{{m.img}}" alt="{{m.title}}" class="img-fluid rounded ms-auto me-auto" style="max-width: 480px;">
        <figcaption>
            <h5 class="card-title mt-4 mb-4"> {{m.title}}</h5>
        </figcaption>
    </figure>
</div>
<div class="card mb-3 mt-3 ms-auto me-auto bg-dark" style="max-width: 1080px;">
    <div class="card-body mt-auto mb-auto">
        <div class="row">
            <div class="col-4">
                <p><b>ID: </b> {{m.id}}</p>
            </div>
            <div class="col-4">
                <p><b>Year: </b> {{m.year}}</p>
            </div>
            <div class="col-4">
                <p><b>Top rank: </b> {{m.topRank}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p><b>Rating: </b> {{m.rating}}</p>
            </div>
            <div class="col-4">
                <p><b>Rating count: </b> {{m.ratingCount}}</p>
            </div>
            <div class="col-4">
                <p><b>Genres: </b>
                    {{#each m.genres}}
                    {{genres}}
                    {{#unless @last}}, {{/unless}}
                    {{/each}}
                </p>
            </div>
        </div>
        <p><b>Casts: </b>
            {{#each m.casts}}
            {{#each characters}}
            <span class="text-secondary">{{this}}</span>
            {{#unless @last}}, {{/unless}}
            {{/each}}
            : <a href="/cast/{{id}}" class="text-warning">{{name}}</a>;
            {{/each}}
        </p>
        <p><b>Synopses: </b><span class="text-secondary"> {{m.synopses}}</span></p>
    </div>
</div>