<div class="card mb-3 mt-3 ms-auto me-auto bg-dark" style="max-width: 1080px;">
    <img src="{{m.img}}" alt="{{m.title}}" class="img-fluid rounded mt-2 ms-auto me-auto" style="max-width: 480px;">
    <div class="card-body mt-auto mb-auto">
        <h5 class="card-title mt-4 mb-4"> {{m.title}}</h5>
        <p><b>ID: </b> {{m.id}}</p>
        <p><b>Year: </b> {{m.year}}</p>
        <p><b>Top rank: </b> {{m.topRank}}</p>
        <p><b>Rating: </b> {{m.rating}}</p>
        <p><b>Rating count: </b> {{m.ratingCount}}</p>
        <p><b>Genres: </b>
            {{#each m.genres}}
            {{genres}}
            {{#unless @last}}, {{/unless}}
            {{/each}}
        </p>
        <p><b>Casts: </b>
            {{#each m.casts}}
            {{#each characters}}
            <span class="text-danger">{{this}}</span>
            {{#unless @last}}, {{/unless}}
            {{/each}}
            : <a href="/actor/{{id}}" class="text-warning">{{name}}</a>;
            {{/each}}
        </p>
        <p><b>Synopses: </b> {{m.synopses}}</p>
    </div>
</div>